h1 {
	text-align: center;
	color: green;
}

p {
	text-align: center;
	color: green;
}

body {
	background-color: black;
}

div {
	text-align: center;
	border-style: solid;
	border-color: green;
	border-radius: 10px;
}

.textColour {
	text-align: center;
	color: green;
}
